<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaikki artistit</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>Kaikki festarit</h1>
     <ul id="festaritTable"></ul>
    <table>

        <tr>
            <th>Nimi</th>
            <th>Maa</th>
            <th>Kuvaus</th>



            <tbody id="festaritTable">

                <% if (data.length> 0) { %>
                    <% for (let festarit of data) { %>
                        <tr>
                            <td>
                                <%= festarit.Nimi %>
                            </td>
                            <td>
                                <%= festarit.Maa %>
                            </td>
                            <td>
                                <%= festarit.Kuvaus %>
                            </td>
                        </tr>

                        <% } %>
                            <% } %>
        </tr>

    </table>


</body>


</html>